name: Build macOS

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Cache Build
        uses: actions/cache@v4
        with:
          path: build
          key: macos-build-${{ hashFiles('CMakeLists.txt') }}
          restore-keys: macos-build-

      - name: Install Dependencies
        run: brew install freetype fontconfig

      - name: Configure
        run: cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build build --parallel

      - name: Package
        run: |
          mkdir -p out
          find build -iname "*.app" -exec cp -R {} out/ \;
          find build -iname "*.vst3" -exec cp -R {} out/ \;
          cd out
          zip -r ../Analytiks-macOS.zip *

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Analytiks-macOS
          path: Analytiks-macOS.zip
